/* LoginPage.css */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #ccc;
    padding: 40px;
    border-radius: 5px;
  }
  
  .google-login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: #4285f4;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .google-logo {
    width: 20px;
    height: 20px;
  }
  
  .center-text-align {
    text-align: center;
    height: 100px; /* Adjust the height as needed */
    line-height: 100px; /* Make the line-height equal to the div's height */
  }