.App{
    background-image: url("../src/images/background.jpg")	;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px; /* hoặc bất kỳ giá trị nào phù hợp */
    background-color: '#C5C6C7';
  }

.background {
    background-image: url("../src/images/background.jpg");
}